---
import Header from '../components/Header.astro'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Cortito - {title}</title>
  </head>
  <body>
    <main class="bg-ctgray grid h-screen place-content-center overflow-hidden p-6">
      <Header />
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --blue-gradient: linear-gradient(45deg, #2222bb, #7878cd, #cbcbff);
    --custom-gray: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  }
  body {
    overflow: hidden;
  }
  main {
    font-family: 'Reddit Mono', monospace;
  }
  .bg-ctgray {
    background-image: var(--custom-gray);
  }
  .bg-bluegradient {
    background-image: var(--blue-gradient);
  }
</style>
