---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/cortito.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Cortito - {title}</title>
  </head>
  <body>
    <slot />
  </body>
  <script
    src="https://kit.fontawesome.com/9464c2d09c.js"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.js"
    integrity="sha512-6m6AtgVSg7JzStQBuIpqoVuGPVSAK5Sp/ti6ySu6AjRDa1pX8mIl1TwP9QmKXU+4Mhq/73SzOk6mbNvyj9MPzQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
</html>
<style is:global>
  :root {
  }
  html {
    background: #000719;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #item:hover div div {
    display: inline;
  }
  #item:focus div div {
    display: inline;
  }
  @media (max-width: 767px) {
    #item div div {
      display: inline;
    }
  }
</style>
