---
import Layout from '../layouts/Layout.astro'
import LabelTitle from '../components/TitleLabel.astro'
import Form from '../components/Form.tsx'
import WriteDel from '../components/WriteDel.astro'
import SessionButton from '../components/SessionButton.astro'
---

<Layout title="Home">
  <article
    class="md relative mb-36 flex h-[450px] min-h-fit w-[262px] min-w-[218px] flex-col justify-between rounded-3xl bg-slate-950 bg-opacity-20 p-8 px-2 pt-10 md:w-[750px] md:justify-around md:px-16"
  >
    <LabelTitle Htmlfor="link-input">EASY LINK SHORTENER</LabelTitle>

    <main class="items-center md:flex">
      <section class="md:w-[369px]">
        <WriteDel> Signing up you can save your shortcuts... </WriteDel>
        <Form client:load className="h-[120px] p-3" />
      </section>
      <footer class="mt-6 flex h-[100px] flex-col gap-2 md:mt-8">
        <SessionButton
          provider="google"
          className="mx-auto bg-white transition-colors hover:bg-gray-300"
        >
          Sign up with google
        </SessionButton>
        <SessionButton
          provider="github"
          className="mx-auto bg-slate-900 text-white transition-colors hover:bg-slate-950"
        >
          Sign up with github
        </SessionButton>
      </footer>
    </main>
  </article>
</Layout>
