---
import Layout from '../layouts/Layout.astro'
import LabelTitle from '../components/TitleLabel.astro'
import Form from '../components/Form.tsx'
import WriteDel from '../components/WriteDel.astro'
import SessionButton from '../components/SessionButton.astro'
import { getSession } from 'auth-astro/server'
import registerLogin from '../libs/registerLogin'
import Copy from '../components/Copy.astro'
const session = await getSession(Astro.request)
await registerLogin({ name: session?.user?.name, email: session?.user?.email })
---

<Layout title='Home'>
	<Copy />
	<article
		class='relative mx-auto mb-36 flex h-[450px] min-h-fit w-[262px] min-w-[218px] flex-col items-center justify-around rounded-3xl bg-slate-950 bg-opacity-20 p-8 pt-10 md:w-fit md:px-16'
	>
		<LabelTitle Htmlfor='link-input'>EASY LINK SHORTENER</LabelTitle>

		<main class='w-[198px] md:w-[369px]'>
			<section class='mx-auto'>
				<WriteDel>Signing up you can save your shortcuts...</WriteDel>
				<Form email={session?.user?.email} client:load />

				<footer class='mt-2 flex gap-2'>
					{
						!session
							? (
								<>
									<SessionButton
										provider='google'
										className='mx-auto bg-white transition-colors hover:bg-gray-300'
									/>
									<SessionButton
										provider='github'
										className='mx-auto bg-slate-900 text-white transition-colors hover:bg-slate-950'
									/>
								</>
							)
							: (
								<SessionButton className='mx-auto bg-slate-900 text-white transition-colors hover:bg-slate-950'>
								Sign out
								</SessionButton>
							)
					}
				</footer>
			</section>
		</main>
		{
			session && (
				<a href='/dashboard' class='text-white mt-6' data-astro-prefetch='load'>
					Go to dashboard {'-->'}
				</a>
			)
		}
	</article>
</Layout>
