---
import Layout from '../layouts/Layout.astro'
import Form from '../components/Form.tsx'
import SessionButton from '../components/SessionButton.astro'
---

<Layout title="Welcome to Astro.">
  <article
    class="md relative mb-36 flex h-[450px] min-h-fit w-[262px] min-w-[218px] flex-col justify-between rounded-3xl bg-slate-950 bg-opacity-20 p-8 px-2 pt-10 md:w-[750px] md:justify-around md:px-16"
  >
    <label
      for="link-input"
      class="mx-auto block cursor-pointer px-1 text-center text-4xl font-bold uppercase text-gray-100 transition-colors hover:text-gray-400 md:w-full md:text-nowrap md:text-6xl"
    >
      EASY LINK SHORTENER
    </label>
    <main class="items-center md:flex">
      <section>
        <p
          class="animate-wridel hidden select-none text-white opacity-55 md:block"
        >
          Signing up you can save your shortcuts...
        </p>
        <Form client:load className="h-[120px] p-3" />
      </section>
      <footer class="mt-6 flex h-[100px] flex-col gap-2 md:mt-8">
        <SessionButton
          provider="google"
          className="mx-auto bg-white transition-colors hover:bg-gray-300"
        >
          Sign up with google
        </SessionButton>
        <SessionButton
          provider="github"
          className="mx-auto bg-slate-900 text-white transition-colors hover:bg-slate-950"
        >
          Sign up with github
        </SessionButton>
      </footer>
    </main>
  </article>
</Layout>
<script>
  const $label = document.querySelector('label') as HTMLLabelElement
  $label.addEventListener('click', () => {
    $label?.classList.remove('cursor-pointer')
    $label.classList.remove('hover:text-gray-400')
    setTimeout(() => {
      $label?.classList.add('cursor-pointer')
      $label.classList.add('hover:text-gray-400')
    }, 500)
  })
  console.log(document.querySelector('#ellipsis'))
</script>
<style>
  .animate-wridel {
    overflow: hidden;
    white-space: nowrap;
    animation: write-delete 4s infinite;
  }
  @keyframes write-delete {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
</style>
