---
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";
import Form from "@/components/Form";
import SessionButtons from "@/components/SessionButtons";
const session = await getSession(Astro.request);
---

<Layout title="Create your first shortcut">
  <main>
    <article
      class="h-[30rem] flex flex-col justify-between border-2 border-gray-500
	rounded-md p-14 pb-8 items-center relative"
    >
      <label
        class="uppercase text-5xl font-bold text-center md:w-[15ch] w-[9ch] cursor-pointer
	  hover:text-gray-400"
        for="input"
      >
        Create your first shortcut
      </label>
      <section class="h-full flex flex-col justify-end scale-120">
        <Form client:load session={session} />

        <SessionButtons client:load session={session} />
      </section>
      <a
        href="/shortcuts"
        class="bg-gray-700 absolute -bottom-24 w-full text-center rounded py-3 hover:outline"
      >
        Go to Your Shortcuts
        <i
          class="fa-solid fa-arrow-right absolute top-3.25 right-[8rem] text-4xl"
        ></i>
      </a>
    </article>
  </main>
</Layout>
