---
import Loading from './svg/Loading'
import { sending } from '../stores/sendingStore'
---

<form class="h-[104px] p-3">
  <>
    <input
      id="link-input"
      class="block w-full rounded-lg px-3 py-2 outline-none"
      placeholder="Enter your link"
      type="text"
    />
    <button class="mx-auto mt-2 block h-8 w-full rounded-lg bg-blue-300 px-3">
      Create
    </button>
  </>
  <Loading className="mx-auto w-10 animate-spin ease-in-out" />
</form>
<script>
  import { sending } from '../stores/sendingStore'
  const $form = document.querySelector('form') as HTMLFormElement

  $form.addEventListener('submit', async (e) => {
    e.preventDefault()
    sending.set(true)
    const $input = document.querySelector('#link-input') as HTMLInputElement
    const oldLink = $input.value as string
    try {
      const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/create-link`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          oldLink,
        }),
      })
      const newLink = await res.json()
      sending.set(false)
    } catch (err) {
      console.error(err)
    }
  })
</script>
./svg/Loading.tsx
