---
import GoogleIcon from './svg/Google.astro'
import GithubICon from './svg/Github.astro'

const { className, provider } = Astro.props
---

<button
  id={`${provider}-button`}
  class={`${className} signin-button flex flex-nowrap items-center gap-2 rounded-full py-2 px-4 shadow`}
>
  {provider === 'google' && <GoogleIcon className="w-5" />}
  {provider === 'github' && <GithubICon className="w-5" />}
  <p class="text-nowrap">
    <slot />
  </p>
</button>
<script>
  const { signIn, signOut } = await import("auth-astro/client")
  const $buttons = document.querySelectorAll('.signin-button')
  $buttons.forEach((button) => {
    button.addEventListener('click', (e) => {
      button.getAttribute('id') === 'google-button' && signIn('google')
      button.getAttribute('id') === 'github-button' && signIn('github')
     })
  })
</script>
