<button
	id='modal-button'
	class='absolute bg-slate-950 text-white p-4 text-xl md:text-2xl font-semibold bottom-3 left-6 sm:left-auto right-6 rounded hover:bg-slate-700 transition-colors border-2 border-white z-30'
>
	+ Create new shortcut
</button>
<script>
	import { modalStore } from '../stores/modalStore'
	const $modalButton = document.querySelector('#modal-button')
	$modalButton?.addEventListener('click', () => modalStore.set(true))
</script>
