<p
	class='animate-wridel absolute -top-8 left-0 hidden select-none overflow-visible text-white opacity-55 md:block'
>
	<slot />
</p>
<style>
	.animate-wridel {
		overflow: hidden;
		white-space: nowrap;
		animation: write-delete steps(31) 4s infinite alternate-reverse;
	}
	.animate-wridel::after {
		content: '';
		@apply absolute right-0 top-0 block h-5 w-[1px] animate-ping bg-white;
	}
	@keyframes write-delete {
		0% {
			width: 0;
		}
		25% {
			width: 0;
		}

		75% {
			width: 48%;
		}
		100% {
			width: 48%;
		}
	}
</style>

